automation/n8n/workflows/02-daily-digest.json
{
  "name": "02-daily-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8-23 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a2d10001-0000-4000-8000-000000000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 醒來檢查式判重：排程 8–23 點每整點觸發，今天（台北時區）發過就跳過。\n// 08:00 正常日準點發；n8n 重啟或後端故障跨過 8 點 → 之後任一整點自動補發。\n// 注意：staticData 只在「執行成功結束」才持久化——下游任何節點失敗，\n// lastSentDate 不會被記住，下一小時自然重試，不用自己寫補償。\nconst sd = $getWorkflowStaticData('global');\nconst fmt = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Taipei' }); // en-CA → YYYY-MM-DD\nconst now = new Date();\nconst today = fmt.format(now);\nconst yesterday = fmt.format(new Date(now.getTime() - 24 * 60 * 60 * 1000));\n\nif (sd.lastSentDate === today) {\n  return [{ json: { action: 'skip' } }];\n}\nreturn [{ json: { action: 'send', date: yesterday, today } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a2d10001-0000-4000-8000-000000000002",
      "name": "判重與參數"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a2d10001-0000-4000-8000-00000000000a",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a2d10001-0000-4000-8000-000000000003",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/internal/notifications/digest?date={{ $json.date }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "a2d10001-0000-4000-8000-000000000004",
      "name": "GET digest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UcSvcTokenHdr001",
          "name": "ucmarket-service-token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 組 Discord 訊息＋記錄「今天已發」。lastSentDate 在這裡寫、\n// 但要整條執行（含後面的 Discord 節點）都成功才會持久化。\nconst sd = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst prev = $('判重與參數').first().json;\nsd.lastSentDate = prev.today;\n\nconst volume = Number(d.tradeVolume).toLocaleString('en-US', { minimumFractionDigits: 2 });\nconst msg = `📊 UcMarket 每日摘要 ${d.date}\\n新市場 ${d.newMarketCount}｜待審 ${d.pendingReviewCount}｜成交 ${d.tradeCount} 筆／$${volume}\\nhttp://localhost:5173/admin`;\nreturn [{ json: { content: msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "a2d10001-0000-4000-8000-000000000005",
      "name": "組訊息並記錄已發"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "a2d10001-0000-4000-8000-000000000006",
      "name": "Discord",
      "webhookId": "a2d10001-0000-4000-8000-00000000000b",
      "credentials": {
        "discordWebhookApi": {
          "id": "lnEjqA5k9aNOdXbz",
          "name": "discord-ucmarket-每日摘要"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "判重與參數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判重與參數": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GET digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET digest": {
      "main": [
        [
          {
            "node": "組訊息並記錄已發",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組訊息並記錄已發": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ce200907-d6da-48db-a017-4dabd38feb9f",
  "id": "UcWf02DailyDig01",
  "tags": []
}