automation/n8n/workflows/03-closing-reminder.json
{
  "name": "03-closing-reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a3c10001-0000-4000-8000-000000000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/api/internal/notifications/closing-markets?withinHours=24",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a3c10001-0000-4000-8000-000000000002",
      "name": "GET closing-markets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UcSvcTokenHdr001",
          "name": "ucmarket-service-token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 過濾已提醒過的市場、彙總成一則。\n// sentKeys：鍵＝DEADLINE_REMINDER:{marketId}:24H、值＝市場截止時間（過期即清）。\n// 若下游 Discord 發送失敗 → 執行失敗 → sentKeys 變更不持久化 → 下小時自然重試。\nconst sd = $getWorkflowStaticData('global');\nsd.sentKeys = sd.sentKeys ?? {};\nconst now = Date.now();\nfor (const [k, exp] of Object.entries(sd.sentKeys)) {\n  if (typeof exp === 'number' && exp < now) delete sd.sentKeys[k];\n}\n\nconst fresh = [];\nfor (const item of $input.all()) {\n  const m = item.json;\n  if (!m || !m.marketId) continue;\n  const key = `DEADLINE_REMINDER:${m.marketId}:24H`;\n  if (sd.sentKeys[key]) continue;\n  sd.sentKeys[key] = new Date(m.closeAt).getTime();\n  fresh.push(m);\n}\n\nif (!fresh.length) {\n  return [{ json: { action: 'skip' } }];\n}\nconst lines = fresh.map(m =>\n  `• ${m.title}（${String(m.closeAt).replace('T', ' ').slice(0, 16)} 截止｜${m.creatorName}）`);\nconst msg = `⏰ 24 小時內截止的市場（${fresh.length} 檔）：\\n${lines.join('\\n')}\\nhttp://localhost:5173/markets`;\nreturn [{ json: { action: 'send', content: msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a3c10001-0000-4000-8000-000000000003",
      "name": "過濾已提醒並彙總"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3c10001-0000-4000-8000-00000000000a",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "a3c10001-0000-4000-8000-000000000004",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "a3c10001-0000-4000-8000-000000000005",
      "name": "Discord",
      "webhookId": "a3c10001-0000-4000-8000-00000000000b",
      "credentials": {
        "discordWebhookApi": {
          "id": "nDcVpFYmo2ocxiI8",
          "name": "discord-ucmarket-市場關閉"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET closing-markets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET closing-markets": {
      "main": [
        [
          {
            "node": "過濾已提醒並彙總",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過濾已提醒並彙總": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6d78da7e-da6c-4f76-963d-f8de2e7e5ec9",
  "id": "UcWf03ClosingR01",
  "tags": []
}