automation/n8n/workflows/05-failed-alert.json
{
  "name": "05-failed-alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a5f10001-0000-4000-8000-000000000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/api/internal/notifications/failed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a5f10001-0000-4000-8000-000000000002",
      "name": "GET failed",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UcSvcTokenHdr001",
          "name": "ucmarket-service-token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FAILED 告警判重：count 有變且 >0 才發（新增失敗會再告、人工重送清空後歸零重置），\n// 同數量不重複轟炸。這條解「Email 管線壞了、告警也走 Email」的死結——告警走 Discord。\nconst sd = $getWorkflowStaticData('global');\nsd.lastCount = sd.lastCount ?? 0;\nconst d = $input.first().json;\nconst count = d.count ?? 0;\n\nif (count === sd.lastCount || count === 0) {\n  sd.lastCount = count;\n  return [{ json: { action: 'skip' } }];\n}\nsd.lastCount = count;\n\nconst lines = (d.recent ?? []).map(r =>\n  `• ${r.eventType} → ${r.recipientEmail}（${String(r.lastError ?? '').slice(0, 80)}）`);\nconst msg = `⚠️ 有 ${count} 筆通知寄送失敗（重試已耗盡）：\\n${lines.join('\\n')}\\n處理：管理後台重送或查 worker log`;\nreturn [{ json: { action: 'send', content: msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a5f10001-0000-4000-8000-000000000003",
      "name": "判重與組訊息"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a5f10001-0000-4000-8000-00000000000a",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "a5f10001-0000-4000-8000-000000000004",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "a5f10001-0000-4000-8000-000000000005",
      "name": "Discord",
      "webhookId": "a5f10001-0000-4000-8000-00000000000b",
      "credentials": {
        "discordWebhookApi": {
          "id": "DDX4ypSlCXruSWzT",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET failed": {
      "main": [
        [
          {
            "node": "判重與組訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判重與組訊息": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e391048a-8ce2-43b8-bf9d-148a1f44b38c",
  "id": "UcWf05FailedAl01",
  "tags": []
}