automation/n8n/workflows/06-heartbeat.json
{
  "name": "06-heartbeat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,30 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "df32d6f9-7dfb-4171-91bb-2a6d49f5a2fc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/api/health",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e8731d7e-44da-49fc-98c6-47eaa6d44df3",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "27d5d989-9115-4d96-9a5d-14b05ea831af",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "f2b21da1-1e5f-47d0-aa8a-543a5bb0e6d4",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=💓 UcMarket 正常運作中 {{ $now.setZone('Asia/Taipei').toFormat('MM/dd HH:mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "b7d263d3-fa33-4860-b168-e2f8d204e1be",
      "name": "Discord",
      "webhookId": "cebda741-a305-4d6b-8fe7-ca2509c7d7e5",
      "credentials": {
        "discordWebhookApi": {
          "id": "kGFDYvkeZtJMPNb0",
          "name": "discord-ucmarket-心跳"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "594550ad-7730-44c8-8de3-d2636fc644f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5648f470325e0ceae17af0ab93dd3c788cfe1e8227c30bdcd46578144b08be8b"
  },
  "nodeGroups": [],
  "id": "4JW0kzcVnSGSlmKv",
  "tags": []
}