automation/n8n/workflows/07-resolution-evidence-collector.json
{
  "name": "07-resolution-evidence-collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c2df669c-a6bd-4c44-b7db-5590e475f3a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/api/internal/current-affairs/resolution-evidence-candidates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "size",
              "value": "50"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "page",
                    "value": "={{ $pageCount }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.hasNext !== true }}",
              "limitPagesFetched": true,
              "maxRequests": 4,
              "requestInterval": 0
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "a725a937-23f8-4937-b392-465b09e5cf30",
      "name": "Fetch Candidate Pages",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bind-candidate-read-in-local-n8n",
          "name": "ucmarket-resolution-evidence-candidate-read-token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pages = $input.all().map((item) => item.json);\n\nconst authFailure = pages.find((page) => page.statusCode === 401 || page.statusCode === 403);\nif (authFailure) {\n  throw new Error(`07-resolution-evidence-collector candidate authentication rejected (HTTP ${authFailure.statusCode})`);\n}\n\nconst unavailable = pages.length === 0 || pages.some((page) =>\n  page.error || page.statusCode == null || page.statusCode >= 500\n);\nif (unavailable) {\n  throw new Error('07-resolution-evidence-collector candidate API unavailable');\n}\n\nconst unexpected = pages.find((page) => page.statusCode !== 200);\nif (unexpected) {\n  throw new Error(`07-resolution-evidence-collector unexpected candidate status (HTTP ${unexpected.statusCode})`);\n}\n\nconst orderedPages = [...pages].sort((a, b) => a.body.page - b.body.page);\nfor (let index = 0; index < orderedPages.length; index++) {\n  const body = orderedPages[index].body;\n  if (!body || !Array.isArray(body.content) || body.page !== index) {\n    throw new Error(`07-resolution-evidence-collector invalid pagination response at page ${index}`);\n  }\n  if (index < orderedPages.length - 1 && body.hasNext !== true) {\n    throw new Error(`07-resolution-evidence-collector pagination ended before page ${index + 1}`);\n  }\n}\n\nconst candidates = orderedPages\n  .flatMap((page) => page.body.content)\n  .slice(0, 200);\n\nreturn candidates.map((candidate, index) => {\n  const sourceUrl = typeof candidate?.sourceUrl === 'string' ? candidate.sourceUrl.trim() : '';\n  const hostnameMatch = /^https?:\\/\\/(?:[^@/?#]+@)?(\\[[^\\]]+\\]|[^:/?#]+)(?::\\d+)?(?:[/?#]|$)/i.exec(sourceUrl);\n  const sourceTitle = hostnameMatch\n    ? hostnameMatch[1].replace(/^\\[|\\]$/g, '').toLowerCase()\n    : 'invalid-source-url';\n\n  return {\n    json: {\n      marketId: typeof candidate?.marketId === 'string' ? candidate.marketId : '',\n      sourceUrl,\n      sourceTitle,\n      candidateIndex: index,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "275b46de-d76d-4ec0-bf86-cad50819912c",
      "name": "Validate and Flatten Candidates"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "dc906a8e-ad94-463a-87c4-f4d3954682ae",
      "name": "Loop Over Candidates"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    retryAttempt: Number($json.retryAttempt ?? 0) + 1,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        96
      ],
      "id": "9d02e68b-f40a-484b-80b1-8a31c4200350",
      "name": "Prepare Retry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://host.docker.internal:8080/api/internal/current-affairs/markets/' + $json.marketId + '/resolution-evidence' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ sourceUrl: $json.sourceUrl, sourceTitle: $json.sourceTitle, publishedAt: null }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        96
      ],
      "id": "5564a1db-0316-42fe-a6b2-bbb278e059c2",
      "name": "Submit Evidence First Attempt",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bind-evidence-write-in-local-n8n",
          "name": "ucmarket-resolution-evidence-write-token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const candidate = $('Loop Over Candidates').item.json;\nconst statusCode = Number($json.statusCode ?? $json.error?.statusCode ?? $json.error?.httpCode);\n\nif (statusCode === 401 || statusCode === 403) {\n  throw new Error(`07-resolution-evidence-collector write authentication rejected (HTTP ${statusCode})`);\n}\n\nconst success = Number.isInteger(statusCode) && statusCode >= 200 && statusCode < 300;\nconst transient = !success && (\n  $json.error != null || !Number.isInteger(statusCode) || statusCode === 429 || statusCode >= 500\n);\n\nreturn {\n  json: {\n    ...candidate,\n    outcome: success ? 'success' : (transient ? 'retry' : 'failed'),\n    shouldRetry: transient,\n    statusCode: Number.isInteger(statusCode) ? statusCode : null,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ],
      "id": "13432a8d-444b-46d2-bc75-6529a505062a",
      "name": "Classify First Attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c93829c-2d5c-43e0-bd7e-3696754ff06e",
              "leftValue": "={{ $json.shouldRetry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        96
      ],
      "id": "3ac57ae2-7aad-4474-8421-287e5fd18a03",
      "name": "Should Retry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://host.docker.internal:8080/api/internal/current-affairs/markets/' + $json.marketId + '/resolution-evidence' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ sourceUrl: $json.sourceUrl, sourceTitle: $json.sourceTitle, publishedAt: null }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        0
      ],
      "id": "c5ad0d42-c785-4eb2-a7da-9dc68e6adf9e",
      "name": "Retry Transient Evidence",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bind-evidence-write-in-local-n8n",
          "name": "ucmarket-resolution-evidence-write-token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const candidate = $('Prepare Retry').item.json;\nconst statusCode = Number($json.statusCode ?? $json.error?.statusCode ?? $json.error?.httpCode ?? $json.error?.status);\n\nif (statusCode === 401 || statusCode === 403) {\n  throw new Error(`07-resolution-evidence-collector write authentication rejected (HTTP ${statusCode})`);\n}\n\nconst success = Number.isInteger(statusCode) && statusCode >= 200 && statusCode < 300;\nconst transient = !success && (\n  $json.error != null || !Number.isInteger(statusCode) || statusCode === 429 || statusCode >= 500\n);\nconst shouldRetry = transient && candidate.retryAttempt < 2;\n\nreturn {\n  json: {\n    ...candidate,\n    outcome: success ? 'success' : (shouldRetry ? 'retry' : 'failed'),\n    shouldRetry,\n    statusCode: Number.isInteger(statusCode) ? statusCode : null,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "2a25638a-5d21-4a86-84ac-c0ef4ce1904a",
      "name": "Classify Retry Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7894e273-0200-4905-b958-b4c68df51e07",
              "leftValue": "={{ $json.shouldRetry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        0
      ],
      "id": "13c1cc7b-e662-4615-9ab8-d5732306b3c2",
      "name": "Should Retry Final Time"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const outcomes = $input.all().map((item) => item.json);\nconst failedCount = outcomes.filter((outcome) => outcome.outcome !== 'success').length;\nif (failedCount > 0) {\n  throw new Error(`07-resolution-evidence-collector failed for ${failedCount} candidate(s); inspect node status only`);\n}\nreturn [{ json: { status: 'COMPLETED', submittedCount: outcomes.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -128
      ],
      "id": "7b7f781a-3467-43f2-819e-74f838328dd1",
      "name": "Verify Round Outcome"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Candidate Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Pages": {
      "main": [
        [
          {
            "node": "Validate and Flatten Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Flatten Candidates": {
      "main": [
        [
          {
            "node": "Loop Over Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Candidates": {
      "main": [
        [
          {
            "node": "Verify Round Outcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit Evidence First Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Evidence First Attempt": {
      "main": [
        [
          {
            "node": "Classify First Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify First Attempt": {
      "main": [
        [
          {
            "node": "Should Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry": {
      "main": [
        [
          {
            "node": "Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry": {
      "main": [
        [
          {
            "node": "Retry Transient Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Transient Evidence": {
      "main": [
        [
          {
            "node": "Classify Retry Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Retry Result": {
      "main": [
        [
          {
            "node": "Should Retry Final Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Final Time": {
      "main": [
        [
          {
            "node": "Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "saveExecutionProgress": false,
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f69478f2-7b4a-462d-b5c9-31fb55d8ef50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5648f470325e0ceae17af0ab93dd3c788cfe1e8227c30bdcd46578144b08be8b"
  },
  "nodeGroups": [],
  "id": "07ResolutionEvidenceCollectorV1",
  "tags": []
}
